 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am a self-motivated senior at Georgia Tech pursuing a degree in Industrial and Systems Engineering and a minor in Economic. I have focused my studies in Analytics and Data Science and am interested in using Machine Learning to solve complex problems.</p>
                </div>
                <div class="col-lg-4">
                    <p>I am seeking a full-time position requiring critical thinking and problem-solving ability. I am eager to put my knowledge and experience in data science and machine learning to practical use within a company that embraces creativity and innovation.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://karenaloscocco.github.io/portfolio/_includes/Karen-Loscocco-Resume.pdf" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Resume
                    </a>
                </div>
            </div>
        </div>
    </section>
