 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.name }}</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/{{ post.pageimg }}" class="img-responsive img-centered" alt="{{ post.pagealt }}">
                            {% if post.description %}
                                <p align="justify">{{ post.description }}</p>
                            {% endif %}
                            <ul class="list-unstyled item-details h4" align="justify" padding=1>
                                {% if post.course %}
                                    <li>Course:
                                        <strong><a href="{{post.courseref}}">{{ post.course }}</a>
                                        </strong>
                                    </li>
                                {% endif %}
                                {% if post.project-date %}
                                    <li>Date: {{ post.project-date }}
                                    </li>
                                {% endif %}
                                {% if post.reportref %}
                                    <li><strong><a href="{{post.reportref}}">View Report</a>
                                        </strong>
                                    </li>
                                {% endif %}
                                {% if post.coderef %}
                                    <li><strong><a href="{{post.coderef}}">View Code</a>
                                        </strong>
                                    </li>
                                {% endif %}
                                {% if post.assignment1 %}
                                    <li>1: <strong><a href="{{post.assignment1ref}}">{{post.assignment1}}</a>
                                        </strong>
                                        <strong><a href="{{post.soln1}}">{{My Solution}}</a>
                                        </strong>
                                    </li>
                                {% endif %}
                                {% if post.assignment2 %}
                                    <li>2: <strong><a href="{{post.assignment2ref}}">{{post.assignment2}}</a>
                                        </strong>
                                        <strong><a href="{{post.soln2}}">{{My Solution}}</a>
                                        </strong>
                                    </li>
                                {% endif %}
                                {% if post.assignment3 %}
                                    <li>3: <strong><a href="{{post.assignment3ref}}">{{post.assignment3}}</a>
                                        </strong>
                                        <strong><a href="{{post.soln3}}">{{My Solution}}</a>
                                        </strong>
                                    </li>
                                {% endif %}
                                {% if post.assignment4 %}
                                    <li>4: <strong><a href="{{post.assignment4ref}}">{{post.assignment4}}</a>
                                        </strong>
                                        <strong><a href="{{post.soln4}}">{{My Solution}}</a>
                                        </strong>
                                    </li>
                                {% endif %}
                                {% if post.assignment5 %}
                                    <li>5: <strong><a href="{{post.assignment5ref}}">{{post.assignment5}}</a>
                                        </strong>
                                        <strong><a href="{{post.soln5}}">{{My Solution}}</a>
                                        </strong>
                                    </li>
                                {% endif %}
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
