 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.name }}</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/{{ post.pageimg }}" class="img-responsive img-centered" alt="{{ post.pagealt }}">
                            {% if post.description %}
                                <p align="justify">{{ post.description }}</p>
                            {% endif %}
                            <ul class="list-unstyled item-details">
                                {% if post.course %}
                                    <li>Course:
                                        <strong><a href="{{post.courseref}}">{{ post.course }}</a>
                                        </strong>
                                    </li>
                                {% endif %}
                                {% if post.project-date %}
                                    <li>Date: {{ post.project-date }}
                                    </li>
                                {% endif %}
                                {% if post.report %}
                                    <li>View Report:
                                        <strong><a href="{{post.reportref}}">{{ post.report }}</a>
                                        </strong>
                                    </li>
                                {% endif %}
                                {% if post.coderef %}
                                    <li><strong><a href="{{post.coderef}}">View Code</a>
                                        </strong>
                                    </li>
                                {% endif %}
                                {% if post.assignment1 %}
                                    <li>View Assignment:
                                        <strong><a href="{{post.assignmentref1}}">{{ post.assignment1 }}</a>
                                        </strong>
                                    </li>
                                {% endif %}
                                {% if post.assignment2 %}
                                    <li>View Assignment:
                                        <strong><a href="{{post.assignmentref2}}">{{ post.assignment2 }}</a>
                                        </strong>
                                    </li>
                                {% endif %}
                                {% if post.assignment3 %}
                                    <li>View Assignment:
                                        <strong><a href="{{post.assignmentref3}}">{{ post.assignment3 }}</a>
                                        </strong>
                                    </li>
                                {% endif %}
                                {% if post.assignment4 %}
                                    <li>View Assignment:
                                        <strong><a href="{{post.assignmentref4}}">{{ post.assignment4 }}</a>
                                        </strong>
                                    </li>
                                {% endif %}
                                {% if post.assignment5 %}
                                    <li>View Assignment:
                                        <strong><a href="{{post.assignmentref5}}">{{ post.assignment5 }}</a>
                                        </strong>
                                    </li>
                                {% endif %}
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
